<!DOCTYPE html>
<html lang="pl">
<head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="style.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.2.1/css/all.min.css">
    <title>Document</title>
</head>
<body>
    <nav class="navbar">
        <div class="navbar__brand">CTMS</div>
    </nav>
    <header class="header">
        <div class="search">
            <input class="search__input" type="text" placeholder="Wyszukaj swój sens"/>
            <i class="search__icon fa-solid fa-magnifying-glass"></i>
        </div>
    </header>
    <div class="wrapper main-cards">
        <% for(let i = 0; i < 20; i++) { %>
            <div class="el-<%=i%>" style="background-color: red;"><%=i%></div>
        <% } %>
    </div>
</body>
</html>